# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
*.whl

# Virtual environments
.venv/
venv/

# Transcripts generados (salida del CLI)
*.txt
*.vtt
*.srt
*.mp3

# Coverage
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# makepkg artifacts
pkg/
src/
yttranscript-*/
*.pkg.tar.zst
*.tar.gz
*.pkg.tar.xz
*.pkg.tar.gz

# debuild artifacts (generated one level above)
/*.deb
/*.changes
/*.buildinfo
/*.dsc

# debhelper artifacts (inside debian/)
debian/.debhelper/
debian/files
debian/*debhelper*
debian/debhelper-build-stamp
debian/yttranscript.substvars
debian/yttranscript/
debian/tmp/
debian/changelog
debian/.vscode/
